 .Manage-class{
    padding-left: 15%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 5%;
    background: linear-gradient(45deg, #ffffff, #98969680);
    height: 100vh;
}
.staff-title {
    color: #000000e0;
    font-family: inherit;
}
.staff-search-class{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 40px
}
.input-search .MuiInputLabel-root.Mui-focused{
  color:black;
}

.input-search .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: black;
}
.form-choice-search .MuiInputLabel-root.Mui-focused{
    color: black;
}
.form-choice-search .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: black;
}
.input-search .MuiInputBase-root,
.form-choice-search .MuiInputBase-root{
    border-radius: 20px;
    height: 50px;
}
.input-search .MuiInputLabel-root,
.form-choice-search .MuiInputLabel-root{
    line-height: 1.2em;
}


  .table-add-class{
    width: 100%;
    margin-top: 40px;
    background-color: #c8c6c6f5;

 
}
.table-add-class th{
    padding: 15px;
    font-size: 15px;
    font-weight: 800;
    background-color: #9c9c9ce3;
}
.table-add-class td{
    font-family: sans-serif;
 
    font-weight: 600;
}
.table-add-class,.table-add-class th,.table-add-class td {

    border-collapse: collapse;
    text-align: center;
    border: 1px solid #8c877c;
  }
  .table-add-class tr:nth-child(odd){
    background-color: #d7d7d7;
  }
  .table-add-class tr:nth-child(even){
    background-color: #d7d7d778;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.staff-add-newClass td{
  padding: 5px
}
.icon-delete .MuiSvgIcon-root {
  
  color: red;
}
.text-addClass .MuiInputBase-input{
 height: 2.2em;
 padding: 0 14px;
}
.compose-Notification {
  position: absolute;
}
.compose-blur{
  backdrop-filter: blur(10px);
  padding: 350px 660px;
  display: inline;
  position: absolute;
}
.compose-detail{
  background-color:white;
  color: black;
  padding: 100px 100px;
  margin-top: 10px;
  margin-left: 700px;
  position: absolute;
  display: inline;
  border-radius: 5px;
  border: solid 1px black;
  
}
/* .compose-Notification div:first-child{
  backdrop-filter: blur(10px);
  color: black;
  padding: 751% 100%;
  margin-top: 10px;
  display: inline;
} */








