.staffDiv{

    height: 70px;
}
div{
    justify-content: center;
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.class-post table{
    margin-left: 10%;
    width: 80%;
    border: 10px black;
}
.class-post table,.class-post th,.class-post td {
    border: 5px solid ;
    border-collapse: collapse;
    text-align: center;
  }
.checkBox{
    margin: 10px;
    width: 20px;
    height: 20px;
    
}

.scheduleTable table,.scheduleTable th,.scheduleTable td {
    border: 1px solid;
    border-collapse: collapse;
    text-align: left;
}
.scheduleTable th{
    text-align: center;
}
.scheduleTable{
    margin-left: 5%;
    width: 90%;
    border: 10px black;
}
.scheduleTable th,.scheduleTable td{
    width: 500px;
}
.scheduleTable td{
    position: relative;
    padding: 2%;
}
.scheduleTable :link{
    position: absolute;
    top: 0%;
    right: 5%;
}
.className{
    position: static;
    display: block;
    top: 10%;
    left: 5%;
}

.className p{
    font-size: small;
    
}
.shift0{
    display: inline-flex;
   
}
.shift1{
    display: inline-flex;
   
}
.shift2{
    display: inline-flex;
    
}
.shift3{
    display: inline-flex;
    
}





