.thanks-main{
    padding-top: 70px;
    position: relative;
    min-height: 100vh;
    background-color: #d5c7c7;
  }

.thanks-title h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: #030101d6;
    padding-left: 2%;
}
.thanks-title h6{
  margin-top: 2%;
  margin-left: 4%;
    font-size: 2rem;
    font-weight: 600;
    color: #00000040;
}
.item-thanks img{
  width: 70%;
  background-position: center;
  background-size: cover;
  background-position: center;
  margin-left: 7%;
}