.profile{
  
    background-color: #d2c7c9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    margin-top: 70px;
}
 .profile-content {
    background-color: #cab2b65c;
    height: 550px;
    width: 900px;
    position: relative;
    display: flex;
    justify-content: center;
}
.profile-title{
    top: -63px;
    position: absolute;
    left: 0%;
}
.profile-title h2{
    font-size: 42px;
  
}
.profileCustomer-left{
    
    height: 100%;
}
.profileCustomer-left img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55%;
    margin-bottom: 35px;
}
.changeProfile Button{
    border-radius: 10px;
    color: #532e4d;
    font-size: 14px;
    font-weight: 700;
    height: 80px;
}
.profileCustomer-edit p{
    padding-top: 8px;
    color: #00000091;
}
.profileCustomer-save .button-save{
    background-color: #b5738f;
    color: #ffddfa;
    font-size: 14px;
    font-weight: 700;
    width: 200px;
    height: 50px;
}
.profileCustomer-save .button-save:hover{
    background-color: #b5738f;
    color: #ffddfa;
   
}
.profileCustomer-save .button-cancel{
    background-color: #d2c7c9;
    color: #b5738f;
    font-size: 14px;
    font-weight: 700;
    width: 200px;
    height: 50px;

}
.profileCustomer-save .button-cancel:hover{
    background-color: #d2c7c9;
    color: #b5738f;
   

}
.profileCustomer-edit Button{
    color: #532e4d;
    font-size: 14px;
    font-weight: 700;
    width: 200px;
    height: 80px;
}
.profileCustomer-save .form-row {
  display: flex;
  align-items: center;
  margin-bottom: 1.4em;
  justify-content: space-between;
}

.profileCustomer-save .form-row label {
  margin-right: 10px;
}
.form-row .MuiFormControl-root{
    width: 60%;
}