.week-schedule-container{
  background-color:#00000026;
  padding-top: 70px;
  padding-bottom: 70px;
}
.schedule-box {
   width: 80%;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;
  }
  
  .schedule-box h1 {
    margin-top: 25px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
   
    flex-wrap: wrap;
    
  }
  
  .schedule-box h1 span {
    margin: 5px;
  }
  
  .schedule-table-customer{
    width: 100%;
    /* height: 70%; */
    margin-top: 20px;
        border-collapse: collapse;
        background: #aca2a21f;
  }
  .schedule-table-customer thead tr{
   background-color: #afb99e73;
  }

  .schedule-box th,
  .schedule-box td {
    width: auto;

    text-align: center;
    border: 1px solid #dae1e47a

  }
  
  .schdule-table-customer th {
    background-color: #787a91;
    font-weight: bold;
    width: calc(100% / 8);
  }
  
  .schdule-table-customer td input,
  .schdule-table-customertd select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .schdule-table-customertd button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .schdule-table-customertd button:hover {
    background-color: #555;
  }
  .navigation-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .navigation-buttons button {
    margin: 0 5px;
  }
 .day-name span{
  font-style: italic;
  color: black;
  font-size: 23px;
 }
.day-date span{
  font-style: italic;
  color: black;
  font-size: 15px;
}
.lessonDay {
  height: 100%;
  width: 100%;
  background-color: #98989847;
  border: 1px solid #e0d8e1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.lesson-attendence{

 /* writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(0deg);
  display: flex;
  justify-content: center; */

}


.lesson-attendence p{
  padding: 8px 5px;
    font-weight: 700;
   
    width: 100%;
    letter-spacing: 2px;
    border-radius: 42px;
    margin-right: 3%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}