.profile{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.profile .profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}